## Exercícios

> Retirados de [learn-python: sqlalchemy_orm-questions](https://aviadr1.github.io/learn-advanced-python/11_db_access/exercise/sqlalchemy_orm-questions.html).

#### Q1.

Baixa e extraia o arquivo compactado com o banco de dados [Chinook database](https://www.sqlitetutorial.net/sqlite-sample-database/). Salve o arquivo `chinook.db` na mesma pasta deste script.
* Link para baixar: http://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip

<img width=500 src=https://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg>

#### Q2.

Leia o código e os comentários das células a seguir para entender como acessamos os modelos ORM de um banco já existente.

In [27]:
from sqlalchemy import create_engine, text, MetaData
from sqlalchemy.orm import Session

engine = create_engine("sqlite+pysqlite:///chinook.db", echo=False)

### extrai as classes da base de dados Chinook
metadata = MetaData()
metadata.reflect(engine)

# O metadata tem informações sobre as tabelas
# que serão usadas para criar os modelos ORM
for table_name, table in metadata.tables.items():
    print(table_name)
    print(table.columns.keys())
    print(table.columns.items())
    print('-'*25)

### configura o objeto Base mapeando os modelos ORM das tabelas
from sqlalchemy.ext.automap import automap_base
Base = automap_base(metadata=metadata)
Base.prepare()

# o objeto Base tem os modelos ORM que podemos usar
# para manipular o banco de dados
print(Base.classes.items())

albums
['AlbumId', 'Title', 'ArtistId']
[('AlbumId', Column('AlbumId', INTEGER(), table=<albums>, primary_key=True, nullable=False)), ('Title', Column('Title', NVARCHAR(length=160), table=<albums>, nullable=False)), ('ArtistId', Column('ArtistId', INTEGER(), ForeignKey('artists.ArtistId'), table=<albums>, nullable=False))]
-------------------------
artists
['ArtistId', 'Name']
[('ArtistId', Column('ArtistId', INTEGER(), table=<artists>, primary_key=True, nullable=False)), ('Name', Column('Name', NVARCHAR(length=120), table=<artists>))]
-------------------------
customers
['CustomerId', 'FirstName', 'LastName', 'Company', 'Address', 'City', 'State', 'Country', 'PostalCode', 'Phone', 'Fax', 'Email', 'SupportRepId']
[('CustomerId', Column('CustomerId', INTEGER(), table=<customers>, primary_key=True, nullable=False)), ('FirstName', Column('FirstName', NVARCHAR(length=40), table=<customers>, nullable=False)), ('LastName', Column('LastName', NVARCHAR(length=20), table=<customers>, nullable=False)), ('Company', Column('Company', NVARCHAR(length=80), table=<customers>)), ('Address', Column('Address', NVARCHAR(length=70), table=<customers>)), ('City', Column('City', NVARCHAR(length=40), table=<customers>)), ('State', Column('State', NVARCHAR(length=40), table=<customers>)), ('Country', Column('Country', NVARCHAR(length=40), table=<customers>)), ('PostalCode', Column('PostalCode', NVARCHAR(length=10), table=<customers>)), ('Phone', Column('Phone', NVARCHAR(length=24), table=<customers>)), ('Fax', Column('Fax', NVARCHAR(length=24), table=<customers>)), ('Email', Column('Email', NVARCHAR(length=60), table=<customers>, nullable=False)), ('SupportRepId', Column('SupportRepId', INTEGER(), ForeignKey('employees.EmployeeId'), table=<customers>))]
-------------------------
employees
['EmployeeId', 'LastName', 'FirstName', 'Title', 'ReportsTo', 'BirthDate', 'HireDate', 'Address', 'City', 'State', 'Country', 'PostalCode', 'Phone', 'Fax', 'Email']
[('EmployeeId', Column('EmployeeId', INTEGER(), table=<employees>, primary_key=True, nullable=False)), ('LastName', Column('LastName', NVARCHAR(length=20), table=<employees>, nullable=False)), ('FirstName', Column('FirstName', NVARCHAR(length=20), table=<employees>, nullable=False)), ('Title', Column('Title', NVARCHAR(length=30), table=<employees>)), ('ReportsTo', Column('ReportsTo', INTEGER(), ForeignKey('employees.EmployeeId'), table=<employees>)), ('BirthDate', Column('BirthDate', DATETIME(), table=<employees>)), ('HireDate', Column('HireDate', DATETIME(), table=<employees>)), ('Address', Column('Address', NVARCHAR(length=70), table=<employees>)), ('City', Column('City', NVARCHAR(length=40), table=<employees>)), ('State', Column('State', NVARCHAR(length=40), table=<employees>)), ('Country', Column('Country', NVARCHAR(length=40), table=<employees>)), ('PostalCode', Column('PostalCode', NVARCHAR(length=10), table=<employees>)), ('Phone', Column('Phone', NVARCHAR(length=24), table=<employees>)), ('Fax', Column('Fax', NVARCHAR(length=24), table=<employees>)), ('Email', Column('Email', NVARCHAR(length=60), table=<employees>))]
-------------------------
genres
['GenreId', 'Name']
[('GenreId', Column('GenreId', INTEGER(), table=<genres>, primary_key=True, nullable=False)), ('Name', Column('Name', NVARCHAR(length=120), table=<genres>))]
-------------------------
invoice_items
['InvoiceLineId', 'InvoiceId', 'TrackId', 'UnitPrice', 'Quantity']
[('InvoiceLineId', Column('InvoiceLineId', INTEGER(), table=<invoice_items>, primary_key=True, nullable=False)), ('InvoiceId', Column('InvoiceId', INTEGER(), ForeignKey('invoices.InvoiceId'), table=<invoice_items>, nullable=False)), ('TrackId', Column('TrackId', INTEGER(), ForeignKey('tracks.TrackId'), table=<invoice_items>, nullable=False)), ('UnitPrice', Column('UnitPrice', NUMERIC(precision=10, scale=2), table=<invoice_items>, nullable=False)), ('Quantity', Column('Quantity', INTEGER(), table=<invoice_items>, nullable=False))]
-------------------------
tracks
['TrackId', 'Name', 'AlbumId', 'MediaTypeId', 'GenreId', 'Composer', 'Milliseconds', 'Bytes', 'UnitPrice']
[('TrackId', Column('TrackId', INTEGER(), table=<tracks>, primary_key=True, nullable=False)), ('Name', Column('Name', NVARCHAR(length=200), table=<tracks>, nullable=False)), ('AlbumId', Column('AlbumId', INTEGER(), ForeignKey('albums.AlbumId'), table=<tracks>)), ('MediaTypeId', Column('MediaTypeId', INTEGER(), ForeignKey('media_types.MediaTypeId'), table=<tracks>, nullable=False)), ('GenreId', Column('GenreId', INTEGER(), ForeignKey('genres.GenreId'), table=<tracks>)), ('Composer', Column('Composer', NVARCHAR(length=220), table=<tracks>)), ('Milliseconds', Column('Milliseconds', INTEGER(), table=<tracks>, nullable=False)), ('Bytes', Column('Bytes', INTEGER(), table=<tracks>)), ('UnitPrice', Column('UnitPrice', NUMERIC(precision=10, scale=2), table=<tracks>, nullable=False))]
-------------------------
media_types
['MediaTypeId', 'Name']
[('MediaTypeId', Column('MediaTypeId', INTEGER(), table=<media_types>, primary_key=True, nullable=False)), ('Name', Column('Name', NVARCHAR(length=120), table=<media_types>))]
-------------------------
invoices
['InvoiceId', 'CustomerId', 'InvoiceDate', 'BillingAddress', 'BillingCity', 'BillingState', 'BillingCountry', 'BillingPostalCode', 'Total']
[('InvoiceId', Column('InvoiceId', INTEGER(), table=<invoices>, primary_key=True, nullable=False)), ('CustomerId', Column('CustomerId', INTEGER(), ForeignKey('customers.CustomerId'), table=<invoices>, nullable=False)), ('InvoiceDate', Column('InvoiceDate', DATETIME(), table=<invoices>, nullable=False)), ('BillingAddress', Column('BillingAddress', NVARCHAR(length=70), table=<invoices>)), ('BillingCity', Column('BillingCity', NVARCHAR(length=40), table=<invoices>)), ('BillingState', Column('BillingState', NVARCHAR(length=40), table=<invoices>)), ('BillingCountry', Column('BillingCountry', NVARCHAR(length=40), table=<invoices>)), ('BillingPostalCode', Column('BillingPostalCode', NVARCHAR(length=10), table=<invoices>)), ('Total', Column('Total', NUMERIC(precision=10, scale=2), table=<invoices>, nullable=False))]
-------------------------
playlist_track
['PlaylistId', 'TrackId']
[('PlaylistId', Column('PlaylistId', INTEGER(), ForeignKey('playlists.PlaylistId'), table=<playlist_track>, primary_key=True, nullable=False)), ('TrackId', Column('TrackId', INTEGER(), ForeignKey('tracks.TrackId'), table=<playlist_track>, primary_key=True, nullable=False))]
-------------------------
playlists
['PlaylistId', 'Name']
[('PlaylistId', Column('PlaylistId', INTEGER(), table=<playlists>, primary_key=True, nullable=False)), ('Name', Column('Name', NVARCHAR(length=120), table=<playlists>))]
-------------------------
[('genres', <class 'sqlalchemy.ext.automap.genres'>), ('artists', <class 'sqlalchemy.ext.automap.artists'>), ('employees', <class 'sqlalchemy.ext.automap.employees'>), ('media_types', <class 'sqlalchemy.ext.automap.media_types'>), ('invoices', <class 'sqlalchemy.ext.automap.invoices'>), ('customers', <class 'sqlalchemy.ext.automap.customers'>), ('tracks', <class 'sqlalchemy.ext.automap.tracks'>), ('playlists', <class 'sqlalchemy.ext.automap.playlists'>), ('invoice_items', <class 'sqlalchemy.ext.automap.invoice_items'>), ('albums', <class 'sqlalchemy.ext.automap.albums'>)]

In [28]:
# A seguir um exemplo de query na tabela Albums
# usamos o objeto Base para acessar cada modelo ORM.

from sqlalchemy import select

session = Session(engine)
res = session.scalars(select(Base.classes.albums))
first_album = res.first()
print(first_album.AlbumId, first_album.Title)

1 For Those About To Rock We Salute You

#### Q3. 
Com base nos códigos anteriores realize as operações solicitadas nas células a seguir:

In [31]:
### Imprima os três primeiros registros da tabela tracks

query = select(Base.classes.tracks).limit(3)

result = session.execute(query).scalars().all()

for row in result:
    session.expunge(row) #To not break the code when it execute a second time

    #parse to dict so i don't have to type every column in the row
    row_dict = row.__dict__
    row_dict.pop('_sa_instance_state', None)
    print(row_dict)

{'Name': 'For Those About To Rock (We Salute You)', 'MediaTypeId': 1, 'Composer': 'Angus Young, Malcolm Young, Brian Johnson', 'Milliseconds': 343719, 'UnitPrice': Decimal('0.99'), 'TrackId': 1, 'AlbumId': 1, 'GenreId': 1, 'Bytes': 11170334}
{'Name': 'Balls to the Wall', 'MediaTypeId': 2, 'Composer': None, 'Milliseconds': 342562, 'UnitPrice': Decimal('0.99'), 'TrackId': 2, 'AlbumId': 2, 'GenreId': 1, 'Bytes': 5510424}
{'Name': 'Fast As a Shark', 'MediaTypeId': 2, 'Composer': 'F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman', 'Milliseconds': 230619, 'UnitPrice': Decimal('0.99'), 'TrackId': 3, 'AlbumId': 3, 'GenreId': 1, 'Bytes': 3990994}

In [39]:
### Imprima o nome da faixa e o título do álbum das primeiras 20 faixas na tabela tracks.
query = (select(
    Base.classes.tracks,
    Base.classes.albums
)   
    .where(Base.classes.albums.AlbumId == Base.classes.tracks.AlbumId)
    .order_by(Base.classes.tracks.TrackId)
    .limit(20)
)

result = session.execute(query).all()

for track, album in result:
    print(f'faixa: {track.Name}, título do álbum: {album.Title}')

faixa: For Those About To Rock (We Salute You), título do álbum: For Those About To Rock We Salute You
faixa: Balls to the Wall, título do álbum: Balls to the Wall
faixa: Fast As a Shark, título do álbum: Restless and Wild
faixa: Restless and Wild, título do álbum: Restless and Wild
faixa: Princess of the Dawn, título do álbum: Restless and Wild
faixa: Put The Finger On You, título do álbum: For Those About To Rock We Salute You
faixa: Let's Get It Up, título do álbum: For Those About To Rock We Salute You
faixa: Inject The Venom, título do álbum: For Those About To Rock We Salute You
faixa: Snowballed, título do álbum: For Those About To Rock We Salute You
faixa: Evil Walks, título do álbum: For Those About To Rock We Salute You
faixa: C.O.D., título do álbum: For Those About To Rock We Salute You
faixa: Breaking The Rules, título do álbum: For Those About To Rock We Salute You
faixa: Night Of The Long Knives, título do álbum: For Those About To Rock We Salute You
faixa: Spellbound, título do álbum: For Those About To Rock We Salute You
faixa: Go Down, título do álbum: Let There Be Rock
faixa: Dog Eat Dog, título do álbum: Let There Be Rock
faixa: Let There Be Rock, título do álbum: Let There Be Rock
faixa: Bad Boy Boogie, título do álbum: Let There Be Rock
faixa: Problem Child, título do álbum: Let There Be Rock
faixa: Overdose, título do álbum: Let There Be Rock

In [41]:
### Imprima as 10 primeiras vendas de faixas da tabela invoice_items
### Para essas 10 primeiras vendas, imprima os nomes das faixas vendidas e a quantidade vendida.

query = (select(
    Base.classes.invoice_items,
    Base.classes.tracks
)
.where(Base.classes.tracks.TrackId == Base.classes.invoice_items.TrackId)
.order_by(Base.classes.invoice_items.InvoiceLineId)
.limit(10)
)

result = session.execute(query).all()

for item, track in result:
    print(f'Nome: {track.Name}, quantidade vendida: {item.Quantity}')

Nome: Balls to the Wall, quantidade vendida: 1
Nome: Restless and Wild, quantidade vendida: 1
Nome: Put The Finger On You, quantidade vendida: 1
Nome: Inject The Venom, quantidade vendida: 1
Nome: Evil Walks, quantidade vendida: 1
Nome: Breaking The Rules, quantidade vendida: 1
Nome: Dog Eat Dog, quantidade vendida: 1
Nome: Overdose, quantidade vendida: 1
Nome: Love In An Elevator, quantidade vendida: 1
Nome: Janie's Got A Gun, quantidade vendida: 1

In [47]:
### Imprima os nomes das 10 faixas mais vendidas e quantas vezes foram vendidas.

from sqlalchemy import func,desc

query = (select(
    Base.classes.tracks.Name,
    func.sum(Base.classes.invoice_items.Quantity).label('total_sales')
)
.where(Base.classes.invoice_items.TrackId == Base.classes.tracks.TrackId)
.group_by(Base.classes.tracks.Name)
.order_by(desc('total_sales'))
.limit(10)
)

result = session.execute(query).all()

for name, sales in result:
    print(f'Nome: {name}, quantidade vendida: {sales}')

Nome: The Trooper, quantidade vendida: 5
Nome: Untitled, quantidade vendida: 4
Nome: The Number Of The Beast, quantidade vendida: 4
Nome: Sure Know Something, quantidade vendida: 4
Nome: Hallowed Be Thy Name, quantidade vendida: 4
Nome: Eruption, quantidade vendida: 4
Nome: Where Eagles Dare, quantidade vendida: 3
Nome: Welcome Home (Sanitarium), quantidade vendida: 3
Nome: Sweetest Thing, quantidade vendida: 3
Nome: Surrender, quantidade vendida: 3

In [48]:
### Quem são os 10 artistas que mais venderam?
### dica: você precisa juntar as tabelas invoice_items, tracks, albums e artists

invoice_items = Base.classes.invoice_items
tracks = Base.classes.tracks
albums = Base. classes.albums
artists = Base.classes.artists

from sqlalchemy import func,desc

query = (select(
    artists.Name,
    func.sum(invoice_items.Quantity).label('total_sales')
)
.join(tracks, invoice_items.TrackId == tracks.TrackId)
.join(albums, tracks.AlbumId == albums.AlbumId)
.join(artists, albums.ArtistId == artists.ArtistId)
.group_by(artists.Name)
.order_by(desc('total_sales'))
.limit(10)
)

result = session.execute(query).all()

for name, sales in result:
    print(f'Nome: {name}, quantidade vendida: {sales}')

Nome: Iron Maiden, quantidade vendida: 140
Nome: U2, quantidade vendida: 107
Nome: Metallica, quantidade vendida: 91
Nome: Led Zeppelin, quantidade vendida: 87
Nome: Os Paralamas Do Sucesso, quantidade vendida: 45
Nome: Deep Purple, quantidade vendida: 44
Nome: Faith No More, quantidade vendida: 42
Nome: Lost, quantidade vendida: 41
Nome: Eric Clapton, quantidade vendida: 40
Nome: R.E.M., quantidade vendida: 39